# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union


*.sql linguist-detectable=true
*.sql linguist-language=sql

src/assets/** linguist-vendored=true
.themes/modern/assets/** linguist-vendored=true
.themes/modern/bootstrap/** linguist-vendored=true
