# Auto detect text files and perform LF normalization
* text=auto
*.sql linguist-detectable=true
*.sql linguist-language=sql
*.css linguist-detectable=true
*.css linguist-language=css
*.js linguist-detectable=true
